html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #222222;
  color: white;
  font-family: "Benne", serif;
  font-size: 20px;
}

.banner-image {
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  box-shadow: 6px 5px 5px grey;
  margin-bottom: 56px;
}

.banner-image img {
  height: 100%;
  width: 100%;
}

.frontpage-text {
  margin: 40px 0px;

  h3 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 36px;
  }

  p {
    font-size: 22px;
  }
}
