html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 40px;
  background-color: #222222;
  color: white;
  font-family: "Benne", serif;
  font-size: 20px;
}

.banner-image {
  // border-style: solid;
  // border-width: 16px;
  // box-shadow: 6px 5px 5px grey;
}

.banner-image img {
  height: 100%;
  width: 100%;
}
