.show-header {
  margin: 40px 0;

  h1 {
    font-weight: bold;
  }
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  p {
    font-size: 22px;
  }
}

.text-one {
  flex: 0 0 55;
  max-width: 55%;

  h4 {
    font-size: 26px;
    color: #deb887;
  }
}

.text-two {
  margin-top: 40px;

  h4 {
    font-size: 26px;
    color: #deb887;
  }
}

.text-three {
  flex: 0 0 50%;
  max-width: 50%;

  h4 {
    font-size: 26px;
    color: #deb887;
  }
}

.text-four {
  flex: 0 0 50;
  max-width: 50%;
  margin-top: 44px;

  h4 {
    font-size: 26px;
    color: #deb887;
  }
}

.pic-one {
  flex: 0 0 45%;
  max-width: 540px;
  height: auto;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.pic-two {
  flex: 0 0 45%;
  max-width: 600px;
  height: auto;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.pic-three {
  flex: 0 0 45%;
  max-width: 600px;
  height: auto;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}
