.show-header {
  margin: 40px 0;

  h1 {
    font-weight: bold;
  }
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  p {
    font-size: 22px;
  }
}

.text-one {
  flex: 0 0 55%;
  max-width: 55%;
  margin-top: 8px;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.text-two {
  margin-top: 40px;
  margin-bottom: 20px;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.text-three {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 30px;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.text-four {
  flex: 0 0 50;
  max-width: 50%;
  margin-top: 40px;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.text-five {
  margin-top: 20px;
  margin-bottom: 20px;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.text-six {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 30px;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.text-seven {
  flex: 0 0 50;
  max-width: 50%;

  h4 {
    font-size: 26px;
    font-weight: bold;
    color: #b8860b;
  }
}

.pic-one {
  flex: 0 0 45%;
  max-width: 540px;
  height: auto;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
}

.pic-two {
  flex: 0 0 45%;
  max-width: 600px;
  height: auto;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
}

.pic-three {
  flex: 0 0 45%;
  max-width: 600px;
  height: auto;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
}
