.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
}

.nav-li {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-element {
  text-decoration: none;
  color: white;
}
