<h1>Homepage</h1>

<%= link_to 'Burg Hohenrechberg', hohenrechberg_path %>
<br><br>
<%= link_to 'Burgruine Hohenstaufen', hohenstaufen_path %>
<br><br>
<%= link_to 'Bergruine Rosenstein', rosenstein_path %>
<br><br>
<%= link_to 'Bergruine Reußenstein', reussenstein_path %>
